
#header {
    padding:30px 100px;
    background-color: #1F2937;
    font-size: 26px;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    padding-left: 5%;
    flex-wrap: wrap;
    margin-top: 35px;
}

#nav {
    display: flex;
    justify-self: flex-end;
    flex-grow: 1;
    justify-content: flex-end;
    justify-content: space-evenly;
    gap: 10px;
}

.navlink {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 28px;
}


#logo {
    height: fit-content;
    width: 35px;
} 

#name{
    color: #F9FAF8;
    margin-top: auto;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bolder {
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#img {
    max-height: fit-content;
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 8%;
}

#signup {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding: 5% 5%;
}

#button {
    color: #F9FAF8;
    background-color:  #3882f6;
    width: 90px;
    height: 30px;
    margin: 10px 0 0 0;
    border-radius: 10%;
    border-style: none;
}

#para {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: center;
    padding: 5%;
    align-items: center;
}

#bigtext {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

#smalltext {
    font-size: 18px;
    color: #e5e7eb;
} 

#home > h2 {
    color: #1F2937;
    font-size: 36px;
    max-width: fit-content;
    margin: 20px auto 20px auto;
}
#info {
    display: flex;
    flex-wrap: wrap;
    margin: auto 200px 50px 200px;
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.info > img {
    margin: 0;
    width: 200px;
    height: 120px;
    border-radius: 10px;
}

.info > p {
    color: #1F2937;
    margin: 0;
    width: 200px;
    padding: 2px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

}

#quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    margin: 50px 100px 0 100px;
    color: #1F2937;
}

#sign {
    margin: 0 100px 32px 0;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

#cta {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
    flex-grow: 1;
    max-width: 800px;
}
.cta {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

#btn {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: auto 20px;  
}

#lines{
    padding: 50px 30px;
    color: white;
}
#lines > * {
    margin: 0;
}

#about {
    color: #e5e7eb;
    background-color: #1F2937;
}
#about > p {
    margin: auto;
    max-width: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}
